@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="jumbotron">Running Shoes</h1>
    <p>The admirable running shoes list by The AC Inc.</p>
</div>
<footer>copiadireito 2020 NotdesignCode</footer>
